@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DotGothic16', sans-serif;
    user-select: none;
}

body{
    background: #181818;
}

main{
    background: #EDEDED;
    margin: 0 auto;
    width: 600px;
    height: 100vh;
}

header{
    padding-top: 20px;
}

header > h1{
    text-align: center;
    padding: 20px auto;
}

#battleField{
    background: white;
    margin: 20px 10px;
    border: 3px solid black;
    border-radius: 10px;
    height: 300px;
    position: relative;
}


.HPBar{
    background: white;
    width: 106px;
    border: 3px solid black;
    border-radius: 10px;
    position: absolute;
}

.currentHP{
    background: red;
    border-radius: 5px;
}

#playerHP{
    top: 50px;
    left: 20px;
}

#monsterHP{
    top: 50px;
    right: 20px;
}

#attackTypes{
    display: flex;
    margin: 50px 10px;
    padding: 0 30px;
    justify-content: space-between;
}

.attack{
    position: relative;
    width: 150px;
    height: 150px;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
}

.attack:hover{
    cursor: pointer;
}

#power::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 1;
    border: 2px solid crimson;
    box-shadow: 0 0 50px crimson;
    opacity: 0;
    transition: opacity 1s ease;
}
#power:hover::before{
    opacity: 1;
}

#speed::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 1;
    border: 2px solid skyblue;
    box-shadow: 0 0 50px skyblue;
    opacity: 0;
    transition: opacity 1s ease;
}
#speed:hover::before{
    opacity: 1;
}

#technical::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: -2px;
    border: 2px solid greenyellow;
    box-shadow: 0 0 50px greenyellow;
    opacity: 0;
    transition: opacity 1s ease;
}
#technical:hover::before{
    opacity: 1;
}

.attackPosition{
    position: absolute;
    width: 10px;
    height: 10px;
}

#playerInitAttackPosition{
    top: 150px;
    left: 150px;
}
#monsterInitAttackPosition{
    top: 150px;
    right: 200px;
}

.attackImg{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 0;
}